.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assests/images/bg.jpeg);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    font-family: 'Manrope';
    padding: 20px 0;
}

input {
    padding: 5px 10px;
    border-radius: 25px;
    height: 3rem;
    font-family: 'Manrope';
    text-align: center;
    margin-bottom: 20px;
}

input::placeholder {
    color: #43ef6e71;
}

button {
    padding: 5px 15px;
    border-radius: 25px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 79, 131);
    text-transform: uppercase;
}

.home h1 {
    color: #43ef6e;
    font-size: 8rem;
    font-family: 'Kanye';
    font-weight: 100;
    letter-spacing: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .home h1 {
        font-size: 6rem;

    }
}

@media only screen and (max-width: 540px) {
    .home h1 {
        font-size: 4rem;

    }
}

@media only screen and (max-width: 280px) {
    .home h1 {
        font-size: 3rem;

    }
}