.home {
    display: flex;
flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assests/images/bg.jpeg);
}

.home h1 {
    color: #26c44d;
    font-size: 8rem;
    font-family: 'Kanye';
    font-weight: 100;
    /* line-height: 8rem; */
    letter-spacing: 0.5rem;
}